.my-table{
    margin: 5px 5px 0;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th{
    font-weight: bold;
}

td, th{
    border: 2px solid #cccccc;
    padding: 5px 7px;
    width: 19%;
}

td:last-child{
    width: 5%;
}

td input{
    width: 95%;
}